* {
  margin: 0;
}

body {
  margin: 0;
  font-family: system-ui;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 60px;
}

p {
  text-align: center;
}

.main-heading {
  color: white;
}

section {
  background: #111;
}

section:first-of-type {
  background: purple;
}

.scroll-reveal > * {
  font-weight: bold;
}

.scroll-reveal > h2 {
  text-transform: uppercase;
  font-size: 3rem;
}

.scroll-reveal > p {
  font-size: 1.3rem;
}

.scroll-reveal span {
  color: hsl(0 0% 100% / 0.2);
  background-repeat: no-repeat;
  background-clip: text;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, red, blue);
  background-image: linear-gradient(90deg, white, white);
  animation: scroll-reveal linear forwards;
  animation-timeline: view(y);
}

.scroll-reveal h2 span {
  animation-range: cover 20vh cover 30vh;
}

.scroll-reveal p span {
  animation-range: cover 22.5vh cover 50vh;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}
