@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --barbarian-color: #ec9b3b;
  --archer-color: #ee5487;
  --gaint-color: #f6901a;
  --goblin-color: #82bb30;
  --wall_breaker-color: grey;
  --wizard-color: #4facff;
}

body {
  background: linear-gradient(to bottom, #8c7a7a 0%, #af877c 65%, #af877c 100%)
    fixed;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg')
    no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px 'Lato', Arial, sans-serif;
  color: #9e9e9e;
  /* margin-top: 30px; */

  /* flex-flow: row; */
  overflow-x: hidden;
}

h1 {
  font-size: 48px !important;
  text-align: center;
  padding: 2rem;
  color: black;
  /* margin-block: 4rem; */
}

.slide-container {
  margin: auto;
  flex-basis: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 10rem;
  gap: 5rem;
  text-align: center;
  padding: 5rem;
  padding-top: 0;

  /* display: grid;
  grid-template-columns: repeat(2, minmax(600px, 400px));
  place-items: center;
*/
}
.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper:focus {
  outline: 0;
}

.clash-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.clash-card__image--barbarian {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
}
.clash-card__image--barbarian img {
  width: 400px;
  position: absolute;
  top: -65px;
  left: -70px;
}

.clash-card__image--archer {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
}
.clash-card__image--archer img {
  width: 400px;
  position: absolute;
  top: -34px;
  left: -37px;
}

.clash-card__image--giant {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg');
}
.clash-card__image--giant img {
  width: 340px;
  position: absolute;
  top: -30px;
  left: -25px;
}

.clash-card__image--goblin {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg');
}
.clash-card__image--goblin img {
  width: 370px;
  position: absolute;
  top: -21px;
  left: -37px;
}

.clash-card__image--wizard {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg');
}
.clash-card__image--wizard img {
  width: 345px;
  position: absolute;
  top: -28px;
  left: -10px;
}

.clash-card__image--wall_breaker {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg');
}
.clash-card__image--wall_breaker img {
  width: 200px;
  /* height: 250px; */
  position: absolute;
  top: -28px;
  left: 50px;
}

.clash-card__image--healer {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg');
}
.clash-card__image--healer img {
  width: 400px;
  /* height: 250px; */
  position: absolute;
  top: -100px;
  left: -65px;
}

.clash-card__image--dragon {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
}
.clash-card__image--dragon img {
  width: 400px;
  /* height: 250px; */
  position: absolute;
  top: -120px;
  left: -10px;
}

.clash-card__image--pekka {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
}
.clash-card__image--pekka img {
  width: 400px;
  /* height: 250px; */
  position: absolute;
  top: -120px;
  left: -10px;
}

.clash-card__image--golem {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
}
.clash-card__image--golem img {
  width: 400px;
  /* height: 250px; */
  position: absolute;
  top: -120px;
  left: -65px;
}

.clash-card__image--valkyrie {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
}
.clash-card__image--valkyrie img {
  width: 300px;
  /* height: 250px; */
  position: absolute;
  top: -120px;
  left: 5px;
}

.clash-card__image--witch {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
}
.clash-card__image--witch img {
  width: 400px;
  /* height: 250px; */
  position: absolute;
  top: -150px;
  left: -15px;
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--barbarian {
  color: var(--barbarian-color);
}

.clash-card__level--archer {
  color: #ee5487;
}

.clash-card__level--giant {
  color: #f6901a;
}

.clash-card__level--goblin {
  color: #82bb30;
}

.clash-card__level--wizard {
  color: #4facff;
}

.clash-card__level--wall_breaker {
  color: grey;
}

.clash-card__level--healer {
  color: #ffd700aa;
}

.clash-card__level--dragon {
  color: #800080;
}

.clash-card__level--pekka {
  color: cyan;
}

.clash-card__level--golem {
  color: darkgray;
}

.clash-card__level--valkyrie {
  color: darkorange;
}

.clash-card__level--witch {
  color: darkviolet;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.clash-card__unit-stats--barbarian {
  background: var(--barbarian-color);
}
.clash-card__unit-stats--barbarian .one-third {
  border-right: 1px solid #bd7c2f;
}

.clash-card__unit-stats--archer {
  background: #ee5487;
}
.clash-card__unit-stats--archer .one-third {
  border-right: 1px solid #d04976;
}

.clash-card__unit-stats--giant {
  background: #f6901a;
}
.clash-card__unit-stats--giant .one-third {
  border-right: 1px solid #de7b09;
}

.clash-card__unit-stats--goblin {
  background: #82bb30;
}
.clash-card__unit-stats--goblin .one-third {
  border-right: 1px solid #71a32a;
}
.clash-card__unit-stats--wall_breaker {
  background: grey;
}
.clash-card__unit-stats--wall_breaker .one-third {
  border-right: 1px solid grey;
}
.clash-card__unit-stats--healer {
  background: #ffd700aa;
}
/* .clash-card__unit-stats--healer .one-third {
  border-right: 1px solid #ffd700aa;
} */

.clash-card__unit-stats--wizard {
  background: #4facff;
}
.clash-card__unit-stats--wizard .one-third {
  border-right: 1px solid #309eff;
}

.clash-card__unit-stats--dragon {
  background: #800080aa;
}
.clash-card__unit-stats--dragon .one-third {
  border-right: 1px solid #800080aa;
}

.clash-card__unit-stats--pekka {
  background: darkblue;
}
.clash-card__unit-stats--pekka .one-third {
  border-right: 1px solid darkblue;
}

.clash-card__unit-stats--golem {
  background: darkgray;
}
.clash-card__unit-stats--golem .one-third {
  border-right: 1px solid darkgray;
}

.clash-card__unit-stats--valkyrie {
  background: darkorange;
}
.clash-card__unit-stats--valkyrie .one-third {
  border-right: 1px solid darkorange;
}

.clash-card__unit-stats--witch {
  background: darkslateblue;
}
.clash-card__unit-stats--witch .one-third {
  background: darkslateblue;
}

.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.clash-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}
.clash-card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.clash-card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.clash-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.clash-card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}
